.containerDetallePelicula {
  display: inline;
  margin: 20px;
  }
  
  .cartel .CartelPelicula {
      width: 80%;
      height: 500px;
      margin: 20px;
      transition: .3s ease all;
      vertical-align: top;
      padding: 10px;
    }
  
    .buttonDetallePelicula {
      display: flex;
    }
  
    .btn-ver {
      height: 60px;
      width: 120px;
      margin-left: 30px;
      margin: 20px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      font-size: var(--md);
      color: rgb(194, 193, 193);
      border: 1px solid rgb(194, 193, 193);
      background-color: transparent;
    }
    .btn-ver:hover{
      background-color: var(--gris);
      border: 0;
    }
  
    .col-7 {
      color: var(--gris)
    }
  
  
  
    @media screen and (max-width:800px) {
      .containerDetallePelicula {
        display: inline;
        margin: 20px;
        }
    
    .cartel .CartelPelicula {
        width: 100%;
        height: 300px;
        vertical-align: top;
        margin: 10px;
        padding: 0;
      }
    }

.classMs{
  background-color: black;
}