.imageS{
    max-width: 100%;
    max-height: max-content;
    min-width: 100px;
    min-height: 300px;

}
.pelicula{
    max-width: 200px;
    max-height: 300px;
}

@media screen and (max-width:800px) {
    .pelicula{
        max-width: 100px;
        max-height: 250px;
    }
    .imageS{
        max-width: 100%;
        max-height: max-content;
        min-width: 70px;
        min-height: 100px;
    
    }
}