@import 'vars';

.header {
  position: absolute;
  height: 80px;
  display: flex;
  text-align: center;
  padding: 0 24px;
  width: 100%;
  transition: margin-top 0.5s ease-out;
  z-index: 997;
  top: 0;
  box-shadow: 0px 45px 35px var(--negro) inset;
}

.menu {
  display: none;
  margin-top: 22px;
  height: 100%;
}

.logo1 {
  height: 25%;
  padding-right: 20px;
  margin: 30px 0px 20px 10px;
}

.navbar-izquierda ul,
.navbar-derecha ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-derecha {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: end;
}

.navbar-izquierda {
  display: flex;
}

.navbar-izquierda ul {
  margin-left: 12px;
}

.navbar-izquierda li,
.navbar-derecha li {
  padding: 5px;
}

.navbar-izquierda ul li a,
.navbar-derecha ul li a {
  text-decoration: none;
  color: var(--blanco);
  //border: 1px solid var(--blanco);
  padding: 8px;
  border-radius: 8px;
}

.navbar-izquierda ul li a:hover,
.navbar-derecha ul li a:hover {
  //background-color: var(--blanco);
  color: #000000;
  background: var(--gris);
}


.navbar-cuenta {
  width: 100%;
  color: var(--blanco);
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;

}

.navbar-cuenta a:hover {
  background: var(--gris);
}

.navbar-cuenta:hover {
  color: #000000;
}


.navbar-favoritos {
  position: relative;
  margin-left: 13px;
  cursor: pointer;
}

.navbar-favoritos i {
  color: var(--gris);
  font-size: 23px;
}

.navbar-favoritos i:hover {
  color: var(--blanco);
}



@media (max-width: 1116px) {

  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo1 {
    width: 100%;
    height: 21%;
  }

  .navbar-derecha {
    display: flex;
    flex-wrap: nowrap;
    width: min-content;
    justify-content: end;
  }

  .navbar-izquierda {
    display: none;
  }

  .menu {
    display: block;
    width: auto;
    height: 40%;
  }

  .menu:hover {
    cursor: pointer;
  }

  .navbar-izquierda ul {
    display: none;

  }

  .navbar-cuenta {
    display: none;
  }

  .navbar-favoritos i {
    color: var(--gris);
    font-size: 28px;
  }

  .navbar-favoritos {
    margin-left: 0;
    width: min-content;
  }
}