@import 'vars';

.loginLo {
    background-image: url(../assets/fondologin.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    place-items: center;

}

.contendor-log {
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;

}

.form-containerLo {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 450px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    padding: 25px;

}

.form-loginLo {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.logoLo {
    width: 60%;
    position: relative;
    align-self: center;
    align-items: center;
    align-content: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    place-items: center;

}

.labelLo {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(194, 193, 193);
}

.inputLo {
    padding: 5px;
    height: 32px;
    background-color: rgb(194, 193, 193);
    border: none;
    border-radius: 4px;
    font-size: var(--sm);
    margin-bottom: 30px;
    color: var(--negro);
}

.botones {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton-principalLo {
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    color: rgb(194, 193, 193);

    width: 200px;
    border: 1px solid rgb(194, 193, 193);

    background-color: transparent;
    margin-bottom: 30px;
}

.recoveryLo {
    height: 48px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--md);
    color: rgb(194, 193, 193);
    border: 1px solid rgb(194, 193, 193);
    background-color: transparent;
}

.recoveryLo:hover,
.boton-principalLo:hover {
    background-color: var(--gris-fuerte);
    border: 0;
}

.btn-cr {
    width: 200px;
}

@media(max-width:640px) {
    .logoLo {
        display: block;
    }

}