@import 'vars';

.Menu {
    width: 180px;
    height: auto;
    padding: 10px 10px;
    background: var(--gris-fuerte);
    border-end-end-radius: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0px 10px 40px var(--negro-claro) inset;
}

.Menu a {
    margin-left: -15px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
    margin-top: 18px;
    color: rgb(203, 202, 202);
}

.Menu a:hover {
    scale: 1.1;
}

.Menu li {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1116px) {
    .Menu {
        grid-template-columns: repeat(auto-fill, 140px);
        right: 25px;
        display: grid;
    }
}