@import 'vars';

.MiCuenta {
  background-image: url(../assets/fondologin.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  place-items: center;
}

.container-micuenta {

  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}

.form-container-micuenta {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 450px;
  height: 600px;
  background-color: rgba(10, 10, 10, 0.6);
  border-radius: 16px;
  padding: 25px;
}

.titleMiCuenta {
  margin-top: 5px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--blanco);
}

.infoMiCuenta {
  color: var(--gris);
  margin-left: 20px;
}

.infoMiCuenta h2 {
  margin-top: 20px;
  font-size: 20px;
  color: var(--blanco);

}



.FormularioCuenta {
  display: flex;
  flex-direction: column;
}

.logoMiCuenta {
  width: 145px;
  height: 18vh;
  margin-top: 20px;
  margin-bottom: 30px;
}

.con-btn-log {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.boton-principal-micuenta {
  height: 48px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  border: var(--negro);
  margin-bottom: 20px;
  color: var(--negro);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.boton-principal-micuenta:hover {
  color: var(--blanco);
  background-color: var(--negro);
  border: 2px solid var(--gris);
}